$form-gray-1: #818da4;
$form-gray-2: #eff1f4;
$form-gray-3: #9ea6b6;
$form-gray-4: #efefef;
$form-gray-5: #ececec;

$border:      #1e283312;
$card-border: #d2d2d2;
$black:       #0f0e0e;
$cards:       #001420;
$box-shadow:  #21212142;

$skin:          #d1ac75;
$skin-light:    #e8bb78;
$orange:        #ff7844;
$gray:          #eff1f4;
$primary:       #005399;
$primary-light: #0169bf;

$white:                   #ffffff;
$white-transparent:       #ffffff33;
$white-transparent-light: #ffffff4d;
