$form-gray-1: #818da4;
$form-gray-2: #eff1f4;
$form-gray-3: #9ea6b6;
$form-gray-4: #efefef;
$black: #0f0e0e;
$white: #ffffff;
$white-transparent: #ffffff33;
$white-transparent-light: #ffffff4d;
$skin: #d1ac75;
$gray: #eff1f4;
$primary: #005399;
